<div class="form-group col-md-{{width}}">
    <label>{{title}}</label>
    {{#each options}}
        <div class="checkbox">
            <label>
                {{#if selected}}
                <input name="{{../key}}" type="checkbox" value="{{value}}" checked>{{name}}
                {{else}}
                <input name="{{../key}}" type="checkbox" value="{{value}}">{{name}}
                {{/if}}
            </label>
        </div>
    {{/each}}
</div>
