<div class="form-group form-modal col-md-{{width}}">
    <label>{{title}}</label>
    <div class="input-group">
        <input class="main-input form-control" name="{{key}}" value="{{value}}" disabled>
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{key}}">
                明細
            </button>
        </span>
    </div>
    <div class="modal fade" id="modal-{{key}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="clear">
                        {{sheetBuilder sheet}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="save-button btn btn-primary">確定</button>
                </div>
            </div>
        </div>
    </div>
</div>
