<div class="form-group col-md-{{width}}">
    <label>{{title}}</label>
    <div class="radio-buttons">
    {{#each options}}
        <div class="radio">
            <label>
                {{#compare value ../value}}
                    <input name="{{../key}}" value="{{value}}" type="radio" checked>{{name}}
                {{else}}
                    <input name="{{../key}}" value="{{value}}" type="radio">{{name}}
                {{/compare}}
            </label>
        </div>
    {{/each}}
    </div>
</div>
