<div class="form-group col-md-{{width}}">
    <label>{{title}}</label>
    {{#each options}}
        <div class="radio">
            <label>
                {{#if selected}}
                    <input name="{{../key}}" value="{{value}}" type="radio" checked>{{name}}
                {{else}}
                    <input name="{{../key}}" value="{{value}}" type="radio">{{name}}
                {{/if}}
            </label>
        </div>
    {{/each}}
</div>
