<div class="form-group col-md-{{width}}">
    <label>{{title}}</label>
    <select class="form-control" value="{{value}}">
        {{#each options}}
            {{#if selected}}
                <option value="{{value}}" selected>{{name}}</option>
            {{else}}
                <option value="{{value}}">{{name}}</option>
            {{/if}}
        {{/each}}
    </select>
</div>
