{{#if editable}}
<div class="form-group col-md-{{width}} editable-table-wrapper">
{{else}}
<div class="form-group col-md-{{width}}">
{{/if}}
    <label>{{title}}</label>
    <table class="table">
        <thead>
            <tr>
            {{#each headers}}
                <th colspan="{{colspan}}">{{name}}</th>
            {{/each}}
            {{#if editable}}
                <th></th>
            {{/if}}
            </tr>
        </thead>
        <tbody>

        {{#if editable}}
        {{#each value}}
            <tr class="info-row">
            {{#each this}}
                <td>
                    <input name="{{../../key}}.{{@index}}" type="text" class="form-control lockable" value="{{this}}" disabled/>
                </td>
            {{/each}}
                <td style="width: 135px;">
                    <a href="#" class="completed-button btn btn-success hidden">完成</a>
                    <a href="#" class="edit-button btn btn-warning">修改</a>
                    <a href="#" class="delete-button btn btn-danger">刪除</a>
                </td>
            </tr>
        {{/each}}
        {{else}}
        {{#each value}}
            <tr>
            {{#each this}}
                <td>
                    {this}}
                </td>
            {{/each}}
            </tr>
        {{/each}}
        {{/if}}


        {{#if editable}}
        <tr class="editable-row">
            {{#each headers}}
                {{#each type}}
                <td>
                    <input type="text" class="form-control"/>
                </td>
                {{/each}}
            {{/each}}
            <td style="width: 135px;">
                <a href="#" class="add-button btn btn-primary">新增</a>
            </td>
        </tr>
        {{/if}}

        </tbody>
    </table>
</div>
