{{#if editable}}
<div class="form-group col-md-{{width}} editable-table-wrapper">
{{else}}
<div class="form-group col-md-{{width}}">
{{/if}}
    <label>{{title}}</label>
    <table class="table">
        <thead>
            <tr>
            {{#each headers}}
                <th colspan="{{colspan}}">{{name}}</th>
            {{/each}}
            {{#if editable}}
                <th></th>
            {{/if}}
            </tr>
        </thead>
        <tbody>

        {{#if editable}}
        {{#each value}}
            <tr class="info-row">
            {{#each this}}
                <td>
                    <input name="{{../../key}}[{{@../index}}][{{key}}]" type="{{type}}" class="form-control lockable" value="{{value}}"/>
                </td>
            {{/each}}
                <td style="width: 135px;">
                    <a href="#" class="delete-button btn btn-danger">刪除</a>
                </td>
            </tr>
        {{/each}}
        {{else}}
        {{#each value}}
            <tr>
            {{#each this}}
                <td>
                    {this}}
                </td>
            {{/each}}
            </tr>
        {{/each}}
        {{/if}}


        {{#if editable}}
        <tr class="editable-row">
            {{#each headers}}
                {{#isArray type}}
                {{#each type}}
                    {{#get ../value @index}}
                    <td>
                        <input name="{{../../../key}}[0][{{this}}]" type="text" class="form-control lockable" disabled/>
                    </td>
                    {{/get}}
                {{/each}}
                {{else}}
                <td>
                    <input name="{{../key}}[0][{{value}}]" type="text" class="form-control lockable" disabled/>
                </td>
                {{/isArray}}
            {{/each}}
            <td style="width: 135px;">
                <a href="#" class="add-button btn btn-primary">新增</a>
            </td>
        </tr>
        {{/if}}

        </tbody>
    </table>
</div>
